<div class="content-item" {{ product.id }}>
  <div class="b-product_promo_tile">
    {% liquid
      assign first_variant = product.selected_or_first_available_variant
      assign pdptag = true
      assign img_url = first_variant.featured_image
      assign img_url_1 = product.images[0].src
      assign img_url_2 = product.images[1].src
      for tags in product.tags 
        if tags contains 'New Arrival' or tags contains 'label'
          assign pdptag = false 
        endif 
    endfor 
    %}
    {% comment %} PDP Image Starts {% endcomment %}
    <div class="customize pdp-img-container">
        {% unless showCross %}
            <div class="exclusive_badge">
              {% for tags in product.tags %}
                {% if tags contains 'Hok Exclusive' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
                      <circle cx="22.5" cy="22.5" r="22.5" fill="#F3F3F3"/>
                      <circle cx="16.5" cy="5.5" r="0.5" fill="black"/>
                      <circle cx="27.5" cy="38.5" r="0.5" fill="black"/>
                      <path d="M23.9983 3.515V7H23.5433V5.42H21.7683V7H21.3133V3.515H21.7683V5.045H23.5433V3.515H23.9983Z" fill="black"/>
                      <path d="M26.1018 7.44402C25.7855 7.3768 25.5125 7.2421 25.2829 7.03994C25.0539 6.83451 24.8909 6.58346 24.7938 6.28679C24.7006 5.98755 24.6894 5.67164 24.7601 5.33907C24.8308 5.0065 24.9692 4.72411 25.1753 4.49189C25.3854 4.2571 25.6364 4.09407 25.9285 4.00279C26.2212 3.90825 26.5257 3.89459 26.8419 3.96182C27.1615 4.02973 27.4357 4.16641 27.6647 4.37183C27.8943 4.574 28.0561 4.82307 28.1499 5.11905C28.2438 5.41503 28.255 5.73093 28.1836 6.06677C28.1122 6.4026 27.9735 6.68662 27.7674 6.91884C27.5612 7.15106 27.3118 7.31444 27.0191 7.40898C26.7271 7.50026 26.4213 7.51194 26.1018 7.44402ZM26.1839 7.05765C26.4219 7.10825 26.6473 7.09821 26.8599 7.02755C27.0759 6.95758 27.2595 6.83133 27.4107 6.64879C27.5652 6.46694 27.6713 6.24071 27.7288 5.97009C27.787 5.69621 27.7822 5.44641 27.7143 5.22069C27.6503 4.99241 27.5356 4.80275 27.37 4.65169C27.2045 4.50064 27.0011 4.39947 26.7598 4.34818C26.5185 4.2969 26.2916 4.30659 26.0789 4.37725C25.8662 4.44791 25.6826 4.57416 25.5281 4.75601C25.3775 4.93529 25.2732 5.16187 25.2149 5.43575C25.1574 5.70637 25.1606 5.95582 25.2246 6.18411C25.2918 6.41308 25.4081 6.60309 25.5737 6.75415C25.7425 6.90589 25.9459 7.00706 26.1839 7.05765Z" fill="black"/>
                      <path d="M29.8225 8.77046L29.1582 6.73425L28.5115 8.18679L28.0959 8.00172L29.5133 4.81802L29.929 5.00309L29.2721 6.47846L31.2445 5.58879L31.7698 5.82266L29.6166 6.77415L30.366 9.01247L29.8225 8.77046Z" fill="black"/>
                      <path d="M36.1323 9.76392L35.2665 10.5435L36.1163 11.4873L35.8377 11.7382L34.9879 10.7944L34.0961 11.5974L35.0463 12.6526L34.7676 12.9035L33.513 11.5102L36.1065 9.17487L37.3611 10.5683L37.0825 10.8192L36.1323 9.76392Z" fill="black"/>
                      <path d="M37.5754 14.0425L36.6035 15.8392L36.346 15.3932L37.1063 13.99L35.531 13.9815L35.2785 13.5442L37.3179 13.5965L38.2941 11.7974L38.5491 12.239L37.787 13.649L39.3691 13.6593L39.6241 14.101L37.5754 14.0425Z" fill="black"/>
                      <path d="M38.518 15.832C38.8414 15.727 39.1551 15.7056 39.4593 15.768C39.7666 15.8294 40.0339 15.9616 40.2611 16.1647C40.4893 16.3709 40.6534 16.6278 40.7533 16.9353C40.8708 17.2967 40.8861 17.6404 40.7993 17.9665C40.7125 18.2927 40.5291 18.5696 40.2491 18.7972L40.0806 18.2789C40.2505 18.1221 40.361 17.939 40.4121 17.7296C40.4643 17.5234 40.4512 17.2998 40.3729 17.0589C40.2977 16.8274 40.1764 16.6373 40.0088 16.4885C39.8413 16.3396 39.6407 16.2453 39.407 16.2056C39.1764 16.1649 38.928 16.1878 38.6617 16.2743C38.3986 16.3598 38.1841 16.4873 38.0184 16.6568C37.8559 16.8253 37.7506 17.019 37.7025 17.2379C37.6545 17.4567 37.6681 17.6819 37.7433 17.9133C37.8215 18.1543 37.9408 18.3433 38.101 18.4805C38.2655 18.6199 38.4625 18.703 38.6921 18.7301L38.8605 19.2484C38.5033 19.2278 38.1938 19.1111 37.9319 18.8983C37.6731 18.6844 37.485 18.3968 37.3676 18.0354C37.2677 17.7279 37.2478 17.4241 37.3081 17.1242C37.3725 16.8264 37.5095 16.5628 37.7189 16.3335C37.9283 16.1043 38.1946 15.9371 38.518 15.832Z" fill="black"/>
                      <path d="M38.2947 20.466L38.4222 21.6793L38.0543 21.7179L37.8792 20.0521L41.3451 19.6878L41.3926 20.1403L38.2947 20.466Z" fill="black"/>
                      <path d="M41.515 23.6964L39.3221 23.4659C39.0138 23.4335 38.7772 23.4841 38.6123 23.6176C38.4471 23.7544 38.3504 23.957 38.3222 24.2256C38.2943 24.4908 38.3471 24.7058 38.4806 24.8707C38.6138 25.0388 38.8345 25.1391 39.1428 25.1715L41.3357 25.402L41.2882 25.8545L39.1002 25.6246C38.8118 25.5942 38.5742 25.5106 38.3875 25.3737C38.2041 25.2371 38.0748 25.0643 37.9996 24.8553C37.924 24.6496 37.8991 24.4241 37.9249 24.1788C37.9507 23.9335 38.0221 23.7164 38.1392 23.5276C38.2559 23.3421 38.4181 23.2016 38.6259 23.1062C38.8366 23.0144 39.0862 22.9836 39.3746 23.0139L41.5626 23.2439L41.515 23.6964Z" fill="black"/>
                      <path d="M37.1751 27.5388C37.2461 27.3201 37.3481 27.1359 37.4808 26.9862C37.6157 26.8408 37.7672 26.7411 37.9355 26.6871C38.1069 26.6342 38.2835 26.6355 38.4652 26.691L38.3153 27.1523C38.1548 27.1176 38.0027 27.1383 37.8588 27.2142C37.7171 27.2944 37.6113 27.4422 37.5412 27.6578C37.4743 27.8639 37.4725 28.042 37.5358 28.1923C37.6013 28.3467 37.7148 28.4502 37.8765 28.5028C38.0033 28.544 38.1177 28.5426 38.2196 28.4986C38.3215 28.4546 38.4101 28.387 38.4853 28.2958C38.5605 28.2045 38.6507 28.0779 38.756 27.9158C38.8841 27.7156 38.9983 27.5582 39.0987 27.4436C39.1979 27.3322 39.3233 27.2485 39.4747 27.1925C39.6282 27.1407 39.8079 27.1483 40.014 27.2153C40.1947 27.274 40.3399 27.372 40.4495 27.5093C40.5591 27.6465 40.6252 27.8099 40.6477 27.9995C40.6692 28.1922 40.6449 28.3964 40.5748 28.612C40.4739 28.9226 40.3138 29.151 40.0946 29.2971C39.8744 29.4463 39.6318 29.4919 39.3667 29.4339L39.5212 28.9583C39.6532 28.9837 39.7858 28.9532 39.919 28.8668C40.0554 28.7814 40.155 28.642 40.2178 28.4486C40.2766 28.2679 40.2769 28.1051 40.2189 27.9601C40.164 27.8161 40.0526 27.7168 39.8846 27.6622C39.7641 27.623 39.655 27.6244 39.5573 27.6662C39.4586 27.7112 39.3726 27.7762 39.2995 27.8611C39.2285 27.9502 39.1382 28.0768 39.0288 28.241C38.8975 28.4402 38.7801 28.5966 38.6766 28.7102C38.5763 28.8248 38.4488 28.9095 38.2943 28.9645C38.1429 29.0204 37.9626 29.0144 37.7534 28.9464C37.5917 28.8939 37.4534 28.8017 37.3386 28.6697C37.2238 28.5378 37.1492 28.3734 37.1151 28.1765C37.0809 27.9796 37.1009 27.7671 37.1751 27.5388Z" fill="black"/>
                      <path d="M38.9784 32.0172L35.9603 30.2747L36.1878 29.8807L39.2059 31.6232L38.9784 32.0172Z" fill="black"/>
                      <path d="M35.5611 36.4243L33.8512 33.1151L34.2025 32.725L37.6722 34.0797L37.3477 34.4401L34.3819 33.2431L35.8823 36.0676L35.5611 36.4243Z" fill="black"/>
                      <path d="M33.7981 37.3384L33.1134 36.3959L32.0859 37.1423L31.8655 36.839L32.893 36.0925L32.1876 35.1216L31.0388 35.9563L30.8184 35.6529L32.3353 34.5508L34.3867 37.3743L32.8698 38.4764L32.6493 38.173L33.7981 37.3384Z" fill="black"/>
                      <path d="M21.1047 41.485V38H21.5597V39.58H23.3347V38H23.7897V41.485H23.3347V39.955H21.5597V41.485H21.1047Z" fill="black"/>
                      <path d="M19.0012 37.5557C19.3175 37.623 19.5904 37.7577 19.8201 37.9598C20.0491 38.1653 20.2121 38.4163 20.3092 38.713C20.4024 39.0122 20.4136 39.3281 20.3429 39.6607C20.2722 39.9933 20.1338 40.2757 19.9277 40.5079C19.7176 40.7427 19.4666 40.9057 19.1745 40.997C18.8818 41.0915 18.5773 41.1052 18.2611 41.038C17.9415 40.97 17.6673 40.8334 17.4383 40.6279C17.2087 40.4258 17.0469 40.1767 16.9531 39.8807C16.8592 39.5847 16.848 39.2688 16.9194 38.933C16.9908 38.5972 17.1295 38.3131 17.3356 38.0809C17.5418 37.8487 17.7912 37.6853 18.0839 37.5908C18.3759 37.4995 18.6817 37.4878 19.0012 37.5557ZM18.9191 37.9421C18.6811 37.8915 18.4557 37.9016 18.2431 37.9722C18.0271 38.0422 17.8435 38.1684 17.6923 38.351C17.5378 38.5328 17.4317 38.7591 17.3742 39.0297C17.316 39.3036 17.3208 39.5534 17.3887 39.7791C17.4527 40.0074 17.5674 40.197 17.7329 40.3481C17.8985 40.4991 18.1019 40.6003 18.3432 40.6516C18.5845 40.7029 18.8114 40.6932 19.0241 40.6225C19.2368 40.5519 19.4204 40.4256 19.5749 40.2438C19.7255 40.0645 19.8298 39.8379 19.8881 39.564C19.9456 39.2934 19.9424 39.0439 19.8784 38.8157C19.8112 38.5867 19.6949 38.3967 19.5293 38.2456C19.3605 38.0939 19.1571 37.9927 18.9191 37.9421Z" fill="black"/>
                      <path d="M15.2805 36.2299L15.9448 38.2661L16.5915 36.8136L17.0071 36.9987L15.5896 40.1824L15.174 39.9973L15.8309 38.5219L13.8585 39.4116L13.3332 39.1777L15.4863 38.2262L14.737 35.9879L15.2805 36.2299Z" fill="black"/>
                      <path d="M8.9707 35.2365L9.83645 34.4569L8.98665 33.5131L9.26533 33.2622L10.1151 34.206L11.0069 33.403L10.0567 32.3478L10.3354 32.0969L11.59 33.4902L8.99648 35.8255L7.74185 34.4321L8.02052 34.1812L8.9707 35.2365Z" fill="black"/>
                      <path d="M7.52857 30.9581L8.50046 29.1615L8.75796 29.6075L7.99766 31.0106L9.57296 31.0191L9.82546 31.4564L7.78607 31.4041L6.80986 33.2033L6.55486 32.7616L7.31698 31.3516L5.73486 31.3413L5.47986 30.8996L7.52857 30.9581Z" fill="black"/>
                      <path d="M6.58499 29.168C6.26164 29.273 5.94787 29.2944 5.6437 29.232C5.33636 29.1706 5.06909 29.0384 4.84189 28.8354C4.61365 28.6291 4.44958 28.3723 4.34966 28.0648C4.23223 27.7034 4.21691 27.3596 4.30371 27.0335C4.39052 26.7074 4.57393 26.4305 4.85394 26.2028L5.02236 26.7211C4.85251 26.8779 4.74202 27.061 4.69089 27.2704C4.63873 27.4766 4.65179 27.7002 4.73008 27.9411C4.80527 28.1726 4.92664 28.3627 5.09417 28.5116C5.2617 28.6604 5.46232 28.7547 5.69604 28.7944C5.92658 28.8352 6.175 28.8123 6.4413 28.7257C6.70442 28.6402 6.91885 28.5127 7.08458 28.3432C7.24713 28.1747 7.35243 27.9811 7.40047 27.7622C7.44851 27.5433 7.43494 27.3181 7.35974 27.0867C7.28145 26.8458 7.16219 26.6567 7.00195 26.5195C6.83751 26.3802 6.64049 26.297 6.4109 26.2699L6.24248 25.7516C6.59967 25.7722 6.90922 25.889 7.17114 26.1018C7.42989 26.3156 7.61798 26.6032 7.73541 26.9646C7.83533 27.2721 7.85516 27.5759 7.79491 27.8758C7.73046 28.1737 7.59353 28.4372 7.38413 28.6665C7.17473 28.8957 6.90835 29.0629 6.58499 29.168Z" fill="black"/>
                      <path d="M6.80829 24.534L6.68075 23.3207L7.04873 23.2821L7.22382 24.9479L3.75792 25.3122L3.71035 24.8597L6.80829 24.534Z" fill="black"/>
                      <path d="M3.58799 21.3039L5.7809 21.5344C6.08921 21.5668 6.32579 21.5163 6.49064 21.3828C6.65585 21.246 6.75257 21.0433 6.78079 20.7748C6.80867 20.5096 6.75586 20.2946 6.62236 20.1297C6.48921 19.9615 6.26848 19.8612 5.96018 19.8288L3.76726 19.5983L3.81483 19.1458L6.00277 19.3758C6.29118 19.4061 6.52874 19.4897 6.71545 19.6267C6.89885 19.7633 7.02816 19.9361 7.10339 20.1451C7.17897 20.3508 7.20386 20.5763 7.17808 20.8216C7.15229 21.0669 7.08088 21.284 6.96383 21.4728C6.84714 21.6582 6.6849 21.7987 6.47711 21.8942C6.26636 21.986 6.01678 22.0167 5.72837 21.9864L3.54042 21.7564L3.58799 21.3039Z" fill="black"/>
                      <path d="M7.92692 17.4618C7.85584 17.6806 7.75394 17.8648 7.6212 18.0144C7.48632 18.1598 7.33475 18.2595 7.1665 18.3135C6.99508 18.3665 6.81851 18.3652 6.63678 18.3096L6.78666 17.8484C6.94714 17.883 7.09931 17.8623 7.24315 17.7864C7.38485 17.7063 7.49072 17.5584 7.56077 17.3428C7.62772 17.1368 7.62953 16.9586 7.5662 16.8084C7.50073 16.6539 7.38715 16.5504 7.22547 16.4979C7.09867 16.4567 6.9843 16.4581 6.88239 16.5021C6.78047 16.546 6.69191 16.6137 6.61671 16.7049C6.5415 16.7961 6.45128 16.9228 6.34604 17.0848C6.2179 17.285 6.10367 17.4424 6.00334 17.557C5.90404 17.6685 5.77871 17.7522 5.62734 17.8081C5.47383 17.8599 5.29405 17.8523 5.08799 17.7854C4.90729 17.7266 4.76213 17.6286 4.65251 17.4914C4.5429 17.3541 4.47683 17.1907 4.45431 17.0011C4.43282 16.8084 4.4571 16.6042 4.52714 16.3887C4.62809 16.078 4.78817 15.8496 5.00737 15.7035C5.22761 15.5543 5.47024 15.5087 5.73526 15.5668L5.58075 16.0423C5.44879 16.017 5.3162 16.0475 5.18299 16.1339C5.0466 16.2192 4.94698 16.3586 4.88415 16.552C4.82543 16.7327 4.82509 16.8956 4.88311 17.0406C4.93796 17.1846 5.0494 17.2839 5.21742 17.3385C5.33788 17.3776 5.44698 17.3763 5.54469 17.3344C5.64344 17.2894 5.72938 17.2244 5.80253 17.1396C5.87353 17.0505 5.96375 16.9238 6.07319 16.7596C6.2045 16.5604 6.32191 16.4041 6.4254 16.2905C6.52573 16.1759 6.65316 16.0911 6.8077 16.0362C6.95907 15.9802 7.13937 15.9862 7.3486 16.0542C7.51028 16.1067 7.64855 16.199 7.76339 16.3309C7.87824 16.4629 7.95274 16.6273 7.98692 16.8242C8.02109 17.021 8.00109 17.2336 7.92692 17.4618Z" fill="black"/>
                      <path d="M6.12458 12.9825L9.14268 14.725L8.91518 15.1191L5.89708 13.3766L6.12458 12.9825Z" fill="black"/>
                      <path d="M9.54089 8.57635L11.2508 11.8855L10.8995 12.2757L7.42977 10.921L7.7543 10.5605L10.7201 11.7575L9.21971 8.93306L9.54089 8.57635Z" fill="black"/>
                      <path d="M11.3039 7.66164L11.9886 8.60415L13.0161 7.85767L13.2365 8.16105L12.209 8.90753L12.9144 9.87836L14.0632 9.04371L14.2836 9.34709L12.7667 10.4492L10.7153 7.6257L12.2322 6.52361L12.4527 6.82699L11.3039 7.66164Z" fill="black"/>
                    </svg>
                {% endif %}
              {% endfor %}
              {% if product.metafields.custom.isnonveg.value %}
               <img src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/unnamed.png?v=1743678709" alt="non veg" width="25" height="25">
              {% endif %}
            </div>
        {% endunless %}
        <div class="wishlist-engine" data-product_id="{{ product.id }}" data-variant_id="{{ product.selected_or_first_available_variant.id }}" data-full_button="false" data-css="true"></div>
      {% if showCross %}
        <div class="handle_product_overlay">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M10 18L18.0023 10M10 10L18.0023 18" stroke="#212529" stroke-linecap="round"/>
          </svg>
        </div>
      {% endif %}
      <a class="b-product_tile-picture_container customize lazy lazyload-media" href="{{ product.url }}"{% if seo_text %} data-location="{{ seo_text | append:indexIs }}"{% endif %}>
        {% if product.images.size > 1 %}
          <img
            class="img-fluid img_url_1"
            src="{{ img_url_1 | image_url }}"
            alt="{{ product.images[0].alt }}"
            width="310"
            height="310"
            loading="lazy"
             
          >
          <img
            class="img-fluid img_url_2"
            src="{{ img_url_2 | image_url }}"
            alt="{{ product.images[1].alt }}"
            width="310"
            height="310"
            loading="eager"
          >
        {% else %}
          <img
            class="img-fluid"
            src="{{ product.featured_image | image_url }}"
            alt="{{ product.title }}"
            title="{{ product.title }}"
            width="310"
            loading="lazy"
             
            height="310"
          >
        {% endif %}
      </a>
    </div>
    {% comment %} PDP Image Ends {% endcomment %}
    {% comment %} PDP Details Starts {% endcomment %}
    <div class="b-product_promo_tile-content">
      {% unless showCross %}
        {% unless pdptag %}
        <div class="custom_label_badge">
          {% for tags in product.tags %}
            {% comment %} This should be remove on 28 feb @Pooja_Yadav {% endcomment %}
            {% if tags contains '_label_New' %}
              <div class="custom_badges" style="background-color: #FF52A9">NEW IN</div>
            {% endif %}
            {% if tags contains 'label' %}
              {% comment %} This unless condition should be remove on 28 feb
              New arrivals Tags are working on Automation 
              {% endcomment %}
              {% unless tags contains '_label_New' %}
                <p
                  class="custom_badges"
                  style=" color:{{ tags | split: '_' | slice:4 }};background-color:{{ tags | split: '_' | slice:3 }}"
                >
                  {{ tags | split: '_' | slice: 2 }}
                </p>
              {% endunless %}
            {% endif %}
          {% endfor %}
        </div>
      {% endunless %}
    {% endunless %}
    {% unless remove_extra_details %} 
      {% if product.metafields.air_reviews_product.review_count > 0 and product.metafields.air_reviews_product.review_count != blank %}
          <div class="rating">
            <div class="AirReviews-Widget AirReviews-Widget--Stars" data-review-avg="{{ product.metafields.air_reviews_product.review_avg }}" data-review-count="{{ product.metafields.air_reviews_product.review_count }}" ></div>
          </div>
        {% endif %}
      {% endunless %}
      <p class="b-product_promo_vendor-name">
        <a class="b-product_promo_vendor-name_link" href="{{- product.url -}}" {% if seo_text %} data-location="{{ seo_text | append:indexIs }}"{% endif %}>
          {{- product.vendor | remove:'pd-bundle' | remove: 'BOGO' | remove: '929A' | remove: '929E' | remove: '929B' | remove: '929B' | remove: 'CLUB' | remove: 'bg-free' | remove: '3-for-2' | remove: 'D-CAT' | remove: 'C-CAT'  | remove: 'B2G2' | remove: 'B499' | remove:"B1299" | remove:"M1299" | remove:"E1299" | remove:"L1099" | remove:"R1499" | remove:"M799"| remove:"929D" -}}
        </a>
        <a class="b-product_promo_tile-name_link" href="{{- product.url -}}" {% if seo_text %} data-location="{{ seo_text | append:indexIs }}"{% endif %}>
          {{- product.title | remove: product.vendor  -}}
        </a>
      </p>
      {% comment %} {% if template contains 'collection' %}gap-1{%  else %}gap-2{% endif %} {% endcomment %}
      <div class="product-prices d-flex align-items-center gap-2">
        <span class="b-product_price-value">
          {{ first_variant.price | money_without_trailing_zeros }}
        </span>
        <span
          class="b-product_price-value rack-rate"
          {% if first_variant.price == first_variant.compare_at_price %}
            style="display:none"
          {% endif %}
        >
          {{ first_variant.compare_at_price | money_without_trailing_zeros }}
        </span>
        {% unless showCross %}
          <span
            class="discount_svg_container position-relative"
            {% if first_variant.price == first_variant.compare_at_price %}
              style="display:none"
            {% endif %}
          >
            <span class="discount_label">
              {{
                first_variant.compare_at_price
                | minus: first_variant.price
                | times: 100.0
                | divided_by: first_variant.compare_at_price
                | money_without_currency
                | times: 100
                | remove: '.0'
              -}}
              % Off
            </span>
          </span>
        {% endunless %}
      </div>
      {% comment %} <div class="variant_container">
        {% if first_variant.option1 != blank and first_variant.option1 != 'Default Title' %}
          Shade: <span class="variant_name">{{ first_variant.option1 }}</span>
            {% endif %}
          </div>
          
          {% if product.available and product.variants.size > 1 %}
          {% assign random_number = 'now' | date: '%s' | modulo: 100 | plus: 1 %}
          {% render 'new-swatches'
          with 'Color' as swatch,
          product: product,
          indexIs: indexIs,
          isrecommend: true,
          isAdvertisement: showCross,
          random_number: random_number,
          handleRecommendSec: recommendedSection
          %}
        {% endif %}
      {% endcomment %}
    {% if product.available and product.variants.size > 1 %}
        <fieldset class="swatch-picker d-flex align-items-center gap-2">
        {% for variant in product.variants limit:3 %}
            <label
                for="swatch-{{ section.id |  remove: '-' |  remove: '_' }}-{{ variant.id }}{{ product.handle | append: value | modulo: 100 | plus: 1 }}"
                class="circular_swatch {% if variant.available %}available{% else %}b-swatch_colors-item m-disabled{% endif %}"
                style="{% if product.variants[forloop.index0].metafields.custom.colour != blank %}background-color:{{ product.variants[forloop.index0].metafields.custom.colour }} !important;{% else %} background-image: url('{% if variant.metafields.custom.variant_image != blank %}{{ variant.metafields.custom.variant_image | image_url }} {% else %}{{ variant.featured_image | image_url }}{% endif %}');{% endif %}"
            >
            </label>
        {% endfor %}
        {% if product.variants.size > 3 %}
            {% liquid
            assign product_count = product.variants.size | minus: 3 %}
            <label class="circular_swatch circular_swatch_additional_count d-center">
               <span>{{ product_count | t |  prepend: '+'  }}</span>
            </label>
        {% endif %}
    </fieldset>
    {% endif %}
      <div class="b-product_promo_tile-buynow mt-auto">
          <div class="b-add_to_bag">
            <input
              type="hidden"
              class="b-add_to_bag-button b-add_to_bagId"
              name="id"
              value="{{ first_variant.id }}"
              min="1"
            >
            <button
              class="b-add_to_bag-button button-cta atc{% unless product.variants.size > 1 %} pocket{% endunless %}"
              type="submit"
              {% if first_variant.inventory_quantity <= 0 %}
                disabled="true"
              {% endif %}
              {% if product.available and product.variants.size > 1 %}
                data-quickviewID="{{ product.id }}"
                data-quickviewHandle="{{ product.handle }}"
                data-quickviewslide="open"
                pdp_MediaData='{{ product.media | json }}'
                {% else %}
                cartid="{{ first_variant.id }}"
              {% endif %}
              >
              {% if first_variant.inventory_quantity > 0 %}
                {% if product.variants.size > 1 %}
                    Select{% unless product.vendor == "Sweetons" or product.vendor == "Fini"  %} Shade{% else %} Size{% endunless %}
                    {% else %}
                    Add to Bag
               {% endif %}
              {% else %}Out of Stock{% endif %}
            </button>
          </div>
      </div>
    </div>
    {% comment %} PDP Details Ends {% endcomment %}
  </div>
</div>