{%- style -%}
.section-{{ section.id }}-margin {
margin-top: {{ section.settings.margin_top_desktop }}px;
margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
}
.new-slider-title-wrapper{
margin-bottom:clamp(24px, 2vw, 40px);    
}
.new-slider-container {
display: grid;
grid-template-columns: repeat(2, 2fr) repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}
.video-hero-container { grid-area: 1 / 1 / 3 / 3; }
.image-container-for-collection {
grid-area: 1 / 3 / 2 / 5;
position:relative;
}
.image-sec-container-for-collection { grid-area: 2 / 3 / 3 / 5; }
.banner-full{
  display: block;
  position: relative;
    height: 100%;
    width: 100%;
}
.banner__href{
    font-family:var(--family-medium);
    font-size: clamp(14px, 2vw, 18px);
    z-index: 1;
    color: #fff;
    white-space: nowrap;
    line-height: 17px;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

@media screen and (max-width: 768px) {
.section-{{ section.id }}-margin {
margin-top: {{ section.settings.margin_top_mobile }}px;
margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
}

.new-slider-container {
  grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 16px;
grid-row-gap: 16px;
}
.video-hero-container { grid-area: 1 / 1 / 2 / 3; }
.image-container-for-collection { grid-area: 2 / 1 / 3 / 2; }
.image-sec-container-for-collection { grid-area: 2 / 2 / 3 / 3; }
.banner__href{
  left: 50%;
  transform: translate(-50%, 0);
}
}
{%- endstyle -%}
{% capture white_arrow %} 
  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
  <path d="M1.5 10.4375L6 5.9375L1.5 1.4375" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path>
</svg>
 {% endcapture %}
<div class="section-{{ section.id }}-margin ">
  <div class="container new-slider-wrapper new-slider-gap-fix scroll-trigger animate--fade-in">
    <div class="new-slider-title-wrapper">
      {% if section.settings.title != blank %}
      <div class="carousel-section-title-wrapper">
        <p>{{- section.settings.title -}}</p>
      </div>
      {% endif %}
    </div>
    <div class="new-slider-content">
      <div class="new-slider-container">
        <div class="video-hero-container">
          <a href="{{ section.settings.coll_link_1 }}" class="banner-full">
            {% assign media_poster = section.settings.cont_1_img.preview_image.src | image_url %}
            <video poster="{{ media_poster }}" class="lazyvideo w-100 img-fluid d-block" autoplay loop muted playsinline>
              <source data-src="{{ section.settings.cont_1_img.sources[1].url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </a>
        </div>
        <div class="image-container-for-collection"><a class="banner-full"
            href="{{ section.settings.coll_link_2 }}">
            <div class="banner__href">
              {{ section.settings.content_2 }}
              {{ white_arrow }}
            </div>
            <img width="100%" height="100%" src="{{ section.settings.cont_2_img | image_url }}"
              alt="{{ section.settings.content_2 | escape }}" class="img-fluid mobile_screen h-100" loading="lazy">
            <img width="100%" height="100%" src="{{ section.settings.cont_2_img_desktop | image_url }}"
              alt="{{ section.settings.content_2 | escape }}" class="img-fluid desktop_screen h-100" loading="lazy">
          </a> </div>
        <div class="image-sec-container-for-collection"> <a class="banner-full"
            href="{{ section.settings.coll_link_3 }}">
            <div class="banner__href">
              {{ section.settings.content_3 }}
              {{ white_arrow }}
            </div>
            <img width="100%" height="100%" src="{{ section.settings.cont_3_img | image_url }}"
              alt="{{ section.settings.content_3 | escape }}" class="img-fluid mobile_screen h-100" loading="lazy">
            <img width="100%" height="100%" src="{{ section.settings.cont_3_img_desktop | image_url }}"
              alt="{{ section.settings.content_3 | escape }}" class="img-fluid desktop_screen h-100" loading="lazy">
          </a></div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
"name": "Grid Media Collection",
"class": "product-slider-section",
"settings": [
{
"type": "header",
"content": "Desktop Margin"
},
{
"type": "range",
"id": "margin_top_desktop",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Margin Top",
"default": 36
},
{
"type": "range",
"id": "margin_bottom_desktop",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Margin Bottom",
"default": 36
},
{
"type": "header",
"content": "Mobile Margin"
},
{
"type": "range",
"id": "margin_top_mobile",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Margin Top",
"default": 36
},
{
"type": "range",
"id": "margin_bottom_mobile",
"min": 0,
"max": 200,
"step": 2,
"unit": "px",
"label": "Margin Bottom",
"default": 36
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "TRENDS YOU CAN'T MISS"
},
{
"type": "text",
"id": "url-title",
"label": "Url Title",
"default": "View All G.O.A.T"
},
{
"type": "url",
"id": "veiw-all-url",
"label": "View All URL"
},
{
"type": "text",
"id": "content_1",
"label": "Add Your Text"
},
{
"type": "url",
"id": "coll_link_1",
"label": "Add Your 1st Link"
},
{
"type": "image_picker",
"id": "cont_big_img_banner",
"label": "Add Your hero Image"
},
{
"type": "video",
"id": "cont_1_img",
"label": "Add Your 1st Video(hidden)"
},
{
"type": "text",
"id": "content_2",
"label": "Add Your Text"
},
{
"type": "url",
"id": "coll_link_2",
"label": "Add Your 2nd Link"
},
{
"type": "image_picker",
"id": "cont_2_img",
"label": "Add Your 2nd Image"
},
{
"type": "image_picker",
"id": "cont_2_img_desktop",
"label": "Add Your 2nd Image Desktop"
},
{
"type": "text",
"id": "content_3",
"label": "Add Your Text"
},
{
"type": "url",
"id": "coll_link_3",
"label": "Add Your 3rd Link"
},
{
"type": "image_picker",
"id": "cont_3_img",
"label": "Add Your 3rd Image"
},
{
"type": "image_picker",
"id": "cont_3_img_desktop",
"label": "Add Your 3rd Image desktop"
}
],
"presets": [
{
"name": "Grid Media Collection"
}
]
}
{% endschema %}