{% comment %} Trusted Icons Section {% endcomment %}
<section class="trusted_container scroll-trigger animate--fade-in">
  <div class="container trusted_spacing">
    <h3 class="trust_header">TRUSTED BY OUR FAM!</h3>
    <div class="d-flex justify-content-between align-items-center trusted_container_width">
      <div class="trusted_feature_card">
        <h4>2012</h4>
        <p>Founded</p>
      </div>
      <div class="trusted_feature_card">
        <h4>2k+</h4>
        <p>Products</p>
      </div>
      <div class="trusted_feature_card desktop_screen flex-column">
        <h4>25+</h4>
        <p>Brands</p>
      </div>
      <div class="trusted_feature_card">
        <h4>10M+</h4>
        <p>Orders Delivered</p>
      </div>
    </div>
  </div>
</section>
{% comment %} Verified Shipper Section {% endcomment %}
<section class="special_feature_component scroll-trigger animate--fade-in">
  <div class="container-fluid p-0 footer_values">
    <div class="d-flex justify-content-between align-items-center footer_value_mobile">
      <div>
        <div class="feature_card">
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="32" viewBox="0 0 52 32" fill="none">
              <path
                d="M11.3076 9.67041H9.06711C8.56511 9.67041 8.15802 10.0893 8.15802 10.6061C8.15802 11.1229 8.56511 11.5418 9.06711 11.5418H10.3985L10.3986 21.3947C10.3986 21.9114 10.8057 22.3303 11.3077 22.3303C11.8097 22.3303 12.2167 21.9114 12.2167 21.3947L12.2167 10.6061C12.2167 10.0893 11.8096 9.67041 11.3076 9.67041Z"
                fill="white" />
              <path
                d="M17.8562 9.67041C15.7491 9.67041 14.0348 11.4348 14.0348 13.6035L14.0349 18.3971C14.0349 20.5658 15.7491 22.3302 17.8562 22.3302C19.9634 22.3302 21.6776 20.5658 21.6776 18.3971V13.6035C21.6776 11.4348 19.9634 9.67041 17.8562 9.67041ZM19.8594 18.3971C19.8594 19.534 18.9608 20.4589 17.8562 20.4589C16.7517 20.4589 15.8531 19.534 15.8531 18.3971L15.853 13.6035C15.853 12.4667 16.7517 11.5418 17.8562 11.5418C18.9608 11.5418 19.8594 12.4667 19.8594 13.6035V18.3971Z"
                fill="white" />
              <path
                d="M27.3171 9.67041C25.2099 9.67041 23.4957 11.4348 23.4957 13.6035V18.3971C23.4957 20.5658 25.2099 22.3302 27.3171 22.3302C29.4243 22.3302 31.1385 20.5658 31.1385 18.3971V13.6035C31.1385 11.4348 29.4243 9.67041 27.3171 9.67041ZM29.3203 18.3971C29.3203 19.534 28.4216 20.4589 27.3171 20.4589C26.2125 20.4589 25.3139 19.534 25.3139 18.3971V13.6035C25.3139 12.4667 26.2125 11.5418 27.3171 11.5418C28.4216 11.5418 29.3203 12.4667 29.3203 13.6035V18.3971Z"
                fill="white" />
              <path
                d="M41.4647 10.2064C41.0016 10.0065 40.4688 10.2306 40.2746 10.7071L36.3385 20.3603C35.9147 21.5183 37.5024 22.2126 38.0149 21.0844L41.951 11.4312C42.1455 10.9548 41.9276 10.4065 41.4647 10.2064Z"
                fill="white" />
              <path
                d="M38.1623 12.6998C38.1623 11.037 36.9743 9.68408 35.5141 9.68408C34.0538 9.68408 32.8658 11.037 32.8658 12.6998C32.8658 14.3627 34.0538 15.7156 35.5141 15.7156C36.9743 15.7156 38.1623 14.3627 38.1623 12.6998ZM35.5141 13.8443C35.0641 13.8443 34.684 13.3202 34.684 12.6998C34.684 12.0795 35.0641 11.5554 35.5141 11.5554C35.964 11.5554 36.3441 12.0795 36.3441 12.6998C36.3441 13.3202 35.964 13.8443 35.5141 13.8443Z"
                fill="white" />
              <path
                d="M42.6483 16.2837C41.188 16.2837 40 17.6366 40 19.2995C40 20.9623 41.188 22.3152 42.6483 22.3152C44.1085 22.3152 45.2965 20.9623 45.2965 19.2995C45.2965 17.6366 44.1085 16.2837 42.6483 16.2837ZM42.6483 20.4439C42.1984 20.4439 41.8182 19.9198 41.8182 19.2995C41.8182 18.6791 42.1984 18.155 42.6483 18.155C43.0982 18.155 43.4784 18.6791 43.4784 19.2995C43.4784 19.9198 43.0982 20.4439 42.6483 20.4439Z"
                fill="white" />
              <path
                d="M45.4102 0H6.58983C3.25698 0 0.545471 2.55158 0.545471 5.68786V26.3121C0.545471 29.4484 3.25698 32 6.58983 32H45.4102C48.7431 32 51.4546 29.4484 51.4546 26.3121V5.68786C51.4546 2.55158 48.7431 0 45.4102 0ZM49.2727 26.3121C49.2727 27.9006 47.0983 29.8182 45.4102 29.8182H6.36365C4.6756 29.8182 2.72729 27.9006 2.72729 26.3121V5.68786C2.72729 4.09937 4.90178 2.18182 6.58983 2.18182H45.4102C47.0983 2.18182 49.2727 4.09937 49.2727 5.68786V26.3121Z"
                fill="white" />
            </svg>
          </figure>
          <figcaption>
            <h4>100% Authentic</h4>
            <p>Our Guarantee</p>
          </figcaption>
        </div>
      </div>
      <div>
        <div class="feature_card">
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="32" viewBox="0 0 47 32" fill="none">
              <path
                d="M0.227295 0V2.90909H27.8637V24.7273H18.9095C18.2607 22.2269 16.012 20.3636 13.3182 20.3636C10.6244 20.3636 8.37566 22.2269 7.72693 24.7273H6.04548V17.4545H3.13639V27.6364H7.72693C8.37566 30.1367 10.6244 32 13.3182 32C16.012 32 18.2607 30.1367 18.9095 27.6364H30.9997C31.6484 30.1367 33.8971 32 36.5909 32C39.2848 32 41.5335 30.1367 42.1822 27.6364H46.7728V15.7731L46.6811 15.5447L43.772 6.81746L43.4564 5.81818H30.7728V0H0.227295ZM1.68184 5.81818V8.72727H14.7727V5.81818H1.68184ZM30.7728 8.72727H41.3633L43.8637 16.1818V24.7273H42.1822C41.5335 22.2269 39.2848 20.3636 36.5909 20.3636C33.8971 20.3636 31.6484 22.2269 30.9997 24.7273H30.7728V8.72727ZM3.13639 11.6364V14.5455H11.8637V11.6364H3.13639ZM13.3182 23.2727C14.9429 23.2727 16.2273 24.5571 16.2273 26.1818C16.2273 27.8065 14.9429 29.0909 13.3182 29.0909C11.6935 29.0909 10.4091 27.8065 10.4091 26.1818C10.4091 24.5571 11.6935 23.2727 13.3182 23.2727ZM36.5909 23.2727C38.2157 23.2727 39.5 24.5571 39.5 26.1818C39.5 27.8065 38.2157 29.0909 36.5909 29.0909C34.9662 29.0909 33.6818 27.8065 33.6818 26.1818C33.6818 24.5571 34.9662 23.2727 36.5909 23.2727Z"
                fill="white" />
            </svg>
          </figure>
          <figcaption>
            <h4>Free Shipping</h4>
            <p>above Rs.699</p>
          </figcaption>
        </div>
      </div>
      <div>
        <div class="feature_card">
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="32" viewBox="0 0 47 32" fill="none">
              <path
                d="M43.1364 0C43.6364 0 44.1061 0.0909091 44.5455 0.272727C44.9849 0.454545 45.3712 0.719697 45.7046 1.06818C46.0379 1.41667 46.2955 1.80303 46.4773 2.22727C46.6591 2.65152 46.7576 3.12121 46.7728 3.63636V28.3636C46.7728 28.8636 46.6818 29.3333 46.5 29.7727C46.3182 30.2121 46.0531 30.5985 45.7046 30.9318C45.3561 31.2652 44.9697 31.5227 44.5455 31.7045C44.1212 31.8864 43.6515 31.9848 43.1364 32H3.86366C3.36366 32 2.89396 31.9091 2.45457 31.7273C2.01517 31.5455 1.62881 31.2803 1.29548 30.9318C0.962143 30.5833 0.704568 30.197 0.522749 29.7727C0.340931 29.3485 0.242446 28.8788 0.227295 28.3636V3.63636C0.227295 3.13636 0.318204 2.66667 0.500022 2.22727C0.68184 1.78788 0.946992 1.40152 1.29548 1.06818C1.64396 0.734848 2.03033 0.477273 2.45457 0.295455C2.87881 0.113636 3.34851 0.0151515 3.86366 0H43.1364ZM3.86366 2.90909C3.65154 2.90909 3.47729 2.97727 3.34093 3.11364C3.20457 3.25 3.13639 3.42424 3.13639 3.63636V8.72727H43.8637V3.63636C43.8637 3.42424 43.7955 3.25 43.6591 3.11364C43.5228 2.97727 43.3485 2.90909 43.1364 2.90909H3.86366ZM43.1364 29.0909C43.3485 29.0909 43.5228 29.0227 43.6591 28.8864C43.7955 28.75 43.8637 28.5758 43.8637 28.3636V11.6364H3.13639V28.3636C3.13639 28.5758 3.20457 28.75 3.34093 28.8864C3.47729 29.0227 3.65154 29.0909 3.86366 29.0909H43.1364ZM32.2273 20.3636H38.0455V23.2727H32.2273V20.3636Z"
                fill="white" />
            </svg>
          </figure>
          <figcaption>
            <h4>Secured Payment</h4>
            <p>100% guarantee</p>
          </figcaption>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} Emailer Section {% endcomment %}
<div id="email_container" class="scroll-trigger animate--fade-in">
  <div class="email_handler">
    <h2 class="header_emailer">Don’t miss an update!</h2>
    <h2 class="body_emailer">
      The latest product drops, offers and stories straight to your phone, plus 20% off your next order
    </h2>
    {% form 'customer', class: 'newsletter-form' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="newsletter-form__field-wrapper">
        <div class="f-field b-email_sign_up-email_input m-auto">
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="f-input_email-field"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus aria-invalid="true" aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="*Enter your email"
            required
          >
          <button
            type="submit"
            class="b-email_sign_up-submit"
            name="commit"
            id="Subscribe"
            aria-label="{{ 'newsletter.button_label' | t }}"
            style="margin-top: 10px;"
          >
            Subscribe
          </button>
        </div>
        {%- if form.errors -%}
          <div class="f-field-error" id="Newsletter-error--{{ section.id }}">
            <span class="f-field-error_text">Please enter a valid email address</span>
          </div>
        {%- endif -%}
      </div>
      {%- if form.posted_successfully? -%}
        <div class="b-email_sign_up-field m-success" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>
          <p class="b-email_sign_up-success_message text-center">Thanks for signing up!</p>
        </div>
      {%- endif -%}
    {% endform %}
  </div>
</div>
{% comment %}
  {%- assign newsletter_id = 'footer-' | append: section.id -%}

  {%- form 'customer', id: newsletter_id, class: 'Newsletter Form' -%}
  {%- if form.posted_successfully? -%}
  <p class="Form__Alert Alert Alert--success">You have been subscribed to our newsletter.</p>
  {%- else -%}
  {%- if form.errors -%}
  <p class="Form__Alert Alert Alert--error">Some Error Occured</p>
  {%- endif -%}

  <div class="Newsletter__Inner d-flex mb-4">
    <input type="hidden" name="contact[tags]" value="newsletter">
    <input type="email" name="contact[email]" id="subscribe_input" class="Form__Input newsInput" aria-label="Your Email"
      placeholder="Your Email" required>
    <button type="submit" id="subscribe_button" class="Form__Submit Button Button--primary">Submit</button>
  </div>
  {%- endif -%}
  {%- endform -%}
{% endcomment %}
<!-- Footer -->
<footer>
  <div class="container scroll-trigger animate--fade-in">
    <div class="d-flex justify-content-between flex-sm-wrapper">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'link_list' -%}
            <div class="footer_nav">
              <p class="main_footer_sub_head">{{ block.settings.heading }}</p>
              <ul class="list-unstyled lh-lg lh-3 pt-7">
                {% for link in block.settings.menu.links %}
                  <li>
                    {{ link.title | link_to: link.url, class: 'footer_link' }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {%- when 'text' -%}
            <div class="d-flex flex-column justify-content-between mt-sm-40">
              <div class="d-flex flex-column gap-12">
                <p class="main_footer_sub_head">Help Desk</p>
                <p class="lets_connect">
                  Call:
                  <span class="underline font-bold">+91-9810245261</span>
                </p>
                <p class="lets_connect">
                  Email: <a href="mailto:support@hokmakeup.com" class="underline font-bold">support@hokmakeup.com</a>
                </p>
                <p class="lets_connect">Monday-Saturday 10AM to 6PM</p>
              </div>
              <div>
                <p class="main_footer_sub_head">Follow us on</p>
                <ul class="list-unstyled d-flex gap-3 pt-7">
                  <li>
                    <a href="https://www.instagram.com/hokmakeup/">
                      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <rect width="40" height="40" rx="20" fill="#707070" />
                        <path
                          d="M20.3039 16.0078C22.7648 16.0078 24.7961 18.0391 24.7961 20.5C24.7961 23 22.7648 24.9922 20.3039 24.9922C17.8039 24.9922 15.8117 23 15.8117 20.5C15.8117 18.0391 17.8039 16.0078 20.3039 16.0078ZM20.3039 23.4297C21.9055 23.4297 23.1945 22.1406 23.1945 20.5C23.1945 18.8984 21.9055 17.6094 20.3039 17.6094C18.6633 17.6094 17.3742 18.8984 17.3742 20.5C17.3742 22.1406 18.7023 23.4297 20.3039 23.4297ZM26.007 15.8516C26.007 16.4375 25.5383 16.9062 24.9523 16.9062C24.3664 16.9062 23.8977 16.4375 23.8977 15.8516C23.8977 15.2656 24.3664 14.7969 24.9523 14.7969C25.5383 14.7969 26.007 15.2656 26.007 15.8516ZM28.9758 16.9062C29.0539 18.3516 29.0539 22.6875 28.9758 24.1328C28.8977 25.5391 28.5852 26.75 27.5695 27.8047C26.5539 28.8203 25.3039 29.1328 23.8977 29.2109C22.4523 29.2891 18.1164 29.2891 16.6711 29.2109C15.2648 29.1328 14.0539 28.8203 12.9992 27.8047C11.9836 26.75 11.6711 25.5391 11.593 24.1328C11.5148 22.6875 11.5148 18.3516 11.593 16.9062C11.6711 15.5 11.9836 14.25 12.9992 13.2344C14.0539 12.2188 15.2648 11.9062 16.6711 11.8281C18.1164 11.75 22.4523 11.75 23.8977 11.8281C25.3039 11.9062 26.5539 12.2188 27.5695 13.2344C28.5852 14.25 28.8977 15.5 28.9758 16.9062ZM27.1008 25.6562C27.5695 24.5234 27.4523 21.7891 27.4523 20.5C27.4523 19.25 27.5695 16.5156 27.1008 15.3438C26.7883 14.6016 26.2023 13.9766 25.4602 13.7031C24.2883 13.2344 21.5539 13.3516 20.3039 13.3516C19.0148 13.3516 16.2805 13.2344 15.1477 13.7031C14.3664 14.0156 13.7805 14.6016 13.468 15.3438C12.9992 16.5156 13.1164 19.25 13.1164 20.5C13.1164 21.7891 12.9992 24.5234 13.468 25.6562C13.7805 26.4375 14.3664 27.0234 15.1477 27.3359C16.2805 27.8047 19.0148 27.6875 20.3039 27.6875C21.5539 27.6875 24.2883 27.8047 25.4602 27.3359C26.2023 27.0234 26.8273 26.4375 27.1008 25.6562Z"
                          fill="white" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/hokmakeup">
                      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <rect width="40" height="40" rx="20" fill="#707070" />
                        <path
                          d="M24.1789 21.75H21.2492V30.5H17.343V21.75H14.1398V18.1562H17.343V15.3828C17.343 12.2578 19.218 10.5 22.0695 10.5C23.4367 10.5 24.882 10.7734 24.882 10.7734V13.8594H23.2805C21.718 13.8594 21.2492 14.7969 21.2492 15.8125V18.1562H24.7258L24.1789 21.75Z"
                          fill="white" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/c/hokmakeup">
                      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <rect width="40" height="40" rx="20" fill="#707070" />
                        <path
                          d="M31.0384 14.752C31.5306 16.4746 31.5306 20.166 31.5306 20.166C31.5306 20.166 31.5306 23.8164 31.0384 25.5801C30.7923 26.5645 30.013 27.3027 29.0697 27.5488C27.306 28 20.3333 28 20.3333 28C20.3333 28 13.3197 28 11.556 27.5488C10.6126 27.3027 9.83333 26.5645 9.58724 25.5801C9.09505 23.8164 9.09505 20.166 9.09505 20.166C9.09505 20.166 9.09505 16.4746 9.58724 14.752C9.83333 13.7676 10.6126 12.9883 11.556 12.7422C13.3197 12.25 20.3333 12.25 20.3333 12.25C20.3333 12.25 27.306 12.25 29.0697 12.7422C30.013 12.9883 30.7923 13.7676 31.0384 14.752ZM18.0365 23.4883L23.8607 20.166L18.0365 16.8438V23.4883Z"
                          fill="white" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</footer>
<!-- end of footer -->
<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <p>© 2024 Hok Beauty PVT LTD. All Rights Reserved.</p>
  </div>
</div>
<!-- end of copyright -->
<style>
  .trusted_container {
    background: #F6F6F6;
    height: 180px;
  }

  .trusted_spacing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
    max-width: 610px;
    height: 100%;
    margin: auto;
  }

  .trust_header {
    color: #212529;
    font-family: var(--family-regular);
    font-size: 20px;
    line-height: 28px;
    /* 140% */
    text-align: center;
  }

  .trusted_feature_card {
    text-align: center;
  }

  .trusted_feature_card h4 {
    color: #212529;
    font-family: var(--family-heavy);
    font-size: 32px;
    line-height: 40px;
    /* 125% */
  }

  .trusted_feature_card p {
    margin-top: 6px;
    color: #212529;
    font-family: var(--family-regular);
    font-size: 12px;
    line-height: 14px;
    /* 125% */
  }

  .b-email_sign_up-email_input, .b-email_sign_up-name_input{
    max-width: 390px;
  }
  #email_container {
    height: 292px;
    background: #FBF9F4;
  }

  .email_handler {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .header_emailer {
    color: #212529;
    text-align: center;
    font-family: var(--family-heavy);
    font-size: 20px;
    line-height: 20px;
    /* 100% */
    font-weight: 700;
  }

  .body_emailer {
    color: #212529;
    text-align: center;
    font-family: var(--family-regular);
    font-size: 16px;
    line-height: 22px;
    /* 137.5% */
    max-width: 500px;
    margin: 16px auto 24px;
  }

  .special_feature_component {
    background: #212529;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .special_feature_component .footer_values {
    max-width: 700px;
    margin: auto;
  }

  .feature_card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: #fff;
    font-family: var(--family-bold);
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    /* 150% */
  }

  .feature_card p {
    font-family: var(--family-regular);
    font-size: 14px;
    line-height: 20px;
  }

  .footer {
    margin: 56px auto;
    max-width: 763px;
  }

  .main_footer_sub_head {
    color: #212529;
    font-family: var(--family-heavy);
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
    /* 111.111% */
  }

  .pt-7 {
    padding-top: 7px;
  }

  .gap-12 {
    gap: 12px;
  }

  .footer_link,
  p.lets_connect {
    color: #212529;
    font-family: var(--family-regular);
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  .lh-3 {
    line-height: 3 !important;
  }

  @media screen and (max-width:768px) {
    .trusted_container {
      height: 144px;
    }

    .trusted_spacing {
      max-width: 300px;
      gap: 16px;
    }

    .trust_header {
      font-size: 14px;
      font-weight: 400;
    }

    .trusted_feature_card h4 {
      font-size: 24px;
      line-height: 24px;
    }

    #email_container {
      padding: 0 20px;
      height: 240px;
    }

    .header_emailer {
      font-size: 16px;
    }

    .body_emailer {
      font-size: 12px;
      line-height: 16px;
      margin: 12px auto 20px;
    }

    footer {
      margin: 40px 8px;
    }

    .special_feature_component {
      height: 108px;
    }

    .footer_value_mobile {
      padding: 0 16px;
    }

    .feature_card svg {
      width: 35px;
      height: 22px;
    }

    .feature_card figcaption {
      margin-top: 8px;
    }

    .feature_card figcaption h4 {
      font-size: 12px;
      line-height: 14px;
    }

    .feature_card figcaption p {
      margin-top: 2px;
      font-size: 11px;
      line-height: 14px;
    }

    .main_footer_sub_head {
      font-size: 14px;
    }

    .footer_link,
    p.lets_connect {
      font-size: 13px;
      line-height: 15px;
      /* 142.857% */
    }

    .footer_nav {
      flex: 0 0 50%;
    }

    .flex-sm-wrapper {
      flex-wrap: wrap;
    }

    .mt-sm-40 {
      margin-top: 40px;
    }
  }

  /******************/
  /*     Footer     */
  /******************/

  footer {
    margin: 56px auto;
    max-width: 763px;
  }

  .main_footer_sub_head {
    color: #212529;
    font-family: var(--family-heavy);
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
  }

  .help_Desk {
    font-weight: 600;
    font-size: 18px !important;
    margin-bottom: 20px;
  }

  .footer .li-space-lg li {
    margin-bottom: 0.375rem;
  }

  .footer .footer-col.third .fa-stack {
    width: 2em;
    margin-bottom: 1.25rem;
    margin-right: 0.375rem;
    font-size: 1.375rem;
  }

  .footer .footer-col.third .fa-stack .fa-stack-2x {
    color: #293642;
    transition: all 0.2s ease;
  }

  .footer h3 {
    color: #fff;
    margin-bottom: 21px;
  }

  .f-input_email-field[type="email"] {
    font-size: 14px;
    line-height: 40px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    color: #000;
    padding: 0 20px;
    transition: border-color .5s ease;
    width: 100%;
  }

  .b-email_sign_up-submit {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    background: #fff;
    border: 1px solid #d8d8d8;
    color: #000;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 11px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .2s, border-color .2s;
    width: 100%;
    margin: 0 auto;
    width: 180px;
  }

  /*
    .input-container #subscribe_input {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;
      width: 1%;
      margin-top: 0;
      margin-bottom: 0;
    } */
  button#subscribe_button {
    text-align: center;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 25px;
    color: #191919;
    background: #d9d9d9;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #CDD9ED;
    font-weight: bold;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }

  .input-container:focus-within>span {
    color: #fff;
    background-color: #e33f75;
    border-color: #e33f75;
  }

  p.Form__Alert.Alert.Alert--success {
    background: #d2e4c4;
    color: #307a07;
    padding: 5px;
  }

  /* #subscribe_input {
          display: block;
          width: 100%;
          padding: 8px 16px;
          line-height: 25px;
          font-size: 14px;
          font-weight: 500;
          font-family: inherit;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          -webkit-appearance: none;
          color: #191919;
          border: 1px solid #cdd9ed00;
          background: #f7f1f3;
          transition: border 0.3s ease;
        }

        #subscribe_input::placeholder {
          color: #CBD1DC;
        }

        #subscribe_input:focus {
          outline: none;
          border-color: #e33f75;
        }*/
  /*     Copyright     */

  .copyright p {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px 0;
  }
</style>
{% schema %}
{
"name": "New Footer",
"blocks": [
{
"type": "link_list",
"name": "Menu",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Quick links",
"label": "Heading"
},
{
"type": "link_list",
"id": "menu",
"default": "footer",
"label": "Menu",
"info": "Displays only top-level menu items."
}
]
},
{
"type": "text",
"name": "Text",
"settings": [
{
"type": "text",
"id": "heading_text",
"default": "Heading",
"label": "Heading"
},
{
"type": "richtext",
"id": "subtext_text",
"label": "Sub Text"
},
{
"type": "image_picker",
"id": "footer_img",
"label": "Image",
"info": "Add any payment trust and quality images"
}
]
},
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "range",
"id": "image_width",
"min": 50,
"max": 200,
"step": 5,
"unit": "px",
"label": "Image width",
"default": 100
},
{
"type": "select",
"id": "alignment",
"label": "Image alignment on large screen",
"options": [
{
"value": "",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center"
}
]
}
],
"settings": [
{
"type": "text",
"id": "footer_cop_dat",
"label": "Footer Copyright"
},
{
"type": "header",
"content": "EMAIL SIGNUP",
"info": "Subscribers added automatically to your “accepted marketing” customer list."
},

{
"type": "header",
"content": "SOCIAL MEDIA ICONS",
"info": "To display your social media accounts, link them in your theme settings."
},
{
"type": "checkbox",
"id": "show_social",
"default": false,
"label": "Show social media icons"
},
{
"type": "text",
"id": "footer_head",
"label": "Footer Social Media Heading"
}
],
"presets": [
{
"name": "New Footer"
}
]
}
{% endschema %}
