<!-- section/exclusive-offer-deal-day -->
{%- style -%}
    .section-{{ section.id }}-margin  {
      margin-top: {{ section.settings.margin_top_desktop }}px;
      margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
    }
    .section-{{ section.id }}-padding  {
      padding-top: {{ section.settings.padding_top_desktop }}px;
     padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  
  
    @media screen and (max-width: 768px) {
      .section-{{ section.id }}-margin  {
        margin-top: {{ section.settings.padding_top_mobile }}px;
        margin-bottom: {{ section.settings.padding_bottom_mobile }}px;
      }
       .section-{{ section.id }}-padding  {
        padding-top: {{ section.settings.margin_top_mobile }}px;
       padding-bottom: {{ section.settings.margin_bottom_mobile }}px;
      }
    }
  {%- endstyle -%}
  <div class="exclusive-offer page-width">
    <div class="offer-banner" style="background-color: {{ section.settings.background_color }};">
      <div class="offer-text" style="color: {{ section.settings.text_color }};">
        {{ section.settings.offer_text }}
      </div>
      <button
        class="copy-code"
        style="background: {{ section.settings.button_bg }}; color: {{ section.settings.button_text }};"
      >
        {{ 'Tap to copy code ' -}}
        <br>
        <strong class="apply-coupon" data-code="WELCOME2HOK">{{ section.settings.discount_code }}</strong>
      </button>
      <div class="cutout-before"></div>
      <div class="cutout-after"></div>
    </div>
  
    <div class="exclusive-text-blocks">
      {% for block in section.blocks %}
        <p
          class="text-block"
          style="color: {{ block.settings.text_color }};"
        >
          {{ block.settings.text_content }}
        </p>
      {% endfor %}
    </div>
  </div>
  {% schema %}
  {
    "name": "Exclusive Offer Banner",
    "settings": [
      {
        "type": "html",
        "id": "offer_text",
        "label": "Offer Text",
        "default": "<p>Extra 20% Off </p><p>on your first app purchase</p>"
      },
      {
        "type": "text",
        "id": "discount_code",
        "label": "Discount Code",
        "default": "WELCOMETOHOK"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ff4da6"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffff00"
      },
      {
        "type": "color",
        "id": "button_bg",
        "label": "Button Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "button_text",
        "label": "Button Text Color",
        "default": "#ffffff"
      },
       {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 36,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 36,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 36
    },
      {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "padding Bottom",
      "default": 36
    },
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Text Block",
        "settings": [
          {
            "type": "text",
            "id": "text_content",
            "label": "Text",
            "default": "STEP INTO"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#4b4cff"
          }
  
        ]
      }
    ],
    "presets": [
      {
        "name": "Exclusive Offer Banner"
      }
    ]
  }
  {% endschema %}
  <style>
          .offer-banner {
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            position: relative;
          }
  
          .cutout-before, .cutout-after {
            content: "";
            position: absolute;
            top: 50%;
            width: 20px;
            height: 20px;
            background: white;
            border-radius: 50%;
          }
  
          .cutout-before {
            left: 20%;
            transform: translateY(-50%);
            top: 0%;
          }
  
          .cutout-after {
            right: 79%;
            transform: translateY(-50%);
            top: 100%;
          }
          .exclusive-offer div:empty{
            display:block;
          }
          .offer-text {
            font-size: 18px;
            font-weight: bold;
          }
  
          .copy-code {
            border: none;
            padding: 10px 15px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 5px;
          }
          .copy-code:hover {
            opacity: 0.8;
          }
          .promo-heading {
            font-size: 40px;
            font-weight: bold;
            margin-top: 20px;
            color: #333;
          }
          .exclusive-text-blocks {
            padding: 20px 70px;
        }
          .exclusive-text-blocks p{
            font-family: Anton;
            font-size: 100px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: left;
          }
          .promo-heading span:nth-child(2n) {
            color: #ff4da6;
          }
          .promo-heading span:nth-child(3n) {
            color: #4b4cff;
          }
         .offer-text p:first-child{
           font-family: Anton;
          font-size: 67px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #F4FF33;
         }
  
      .offer-text p:nth-child(2){
      color: #FFF;
      font-family: "Sweet Sans Pro";
      font-size: 30px;
      font-style: normal;
      font-weight: 300;
      line-height: 38px;
      }
      .exclusive-offer .copy-code{
        font-family: "Sweet Sans Pro";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
      }
      @media screen and (max-width: 768px) {
         .offer-text p:nth-child(2){font-size: 12px;}
        .offer-text p:first-child{font-size: 26px;}
       .exclusive-offer .copy-code{
          line-height: 23px;
          font-weight: 400;
          font-size: 12px;
        }
        .cutout-after {
        right: 74%;}
  
      .exclusive-text-blocks p {
        font-size: 60px;}
      }
      .exclusive-text-blocks {
        padding: 20px 29px;}
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let button = document.querySelector(".apply-coupon");
  
      if (button) {
        button.addEventListener("click", function (event) {
          event.preventDefault();
  
          let couponCode = this.getAttribute("data-code");
          let checkoutURL = "https://hokmakeup.com?fastrrCouponCode=" + encodeURIComponent(couponCode);
  
          window.location.href = checkoutURL;
        });
      }
    });
  </script>