{%- capture up_arrow -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
<path d="M16 9L9.16279 2L2 9" stroke="#A39C84" stroke-width="2.5" stroke-linecap="round"/>
</svg>
{%- endcapture -%}
{%- capture down_arrow -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11" viewBox="0 0 18 11" fill="none">
  <path d="M16 2L9.16279 9L2 2" stroke="#A39C84" stroke-width="2.5" stroke-linecap="round"/>
</svg>
{%- endcapture -%}
<div class="container" id="skincare-container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="skincare_banner_header">
                    these belong to your shelf
                </div>
                <div class="skincare_banner_content">
                    Refresh, renew, and glow.
                </div>
            </div>
            <div class="col-12 col-md-9">
              {{
                section.settings['banner-video-desktop']
                | video_tag:
                  width: '100%',
                  height: '100%',
                  class: 'desktop_screen square-banner-media',
                  autoplay: true,
                  loop: true,
                  muted: true,
                  playsinline: true
              }}
              {{
                section.settings['banner-video-mobile']
                | video_tag:
                  width: '100%',
                  height: '100%',
                  class: 'mobile_screen square-banner-media',
                  autoplay: true,
                  loop: true,
                  muted: true,
                  playsinline: true
              }}
              </div>
        </div>

        <div class="skincare-content">
            <input type="radio" name="slider" checked id="home">
            <input type="radio" name="slider" id="blog">
            <input type="radio" name="slider" id="help">
            <input type="radio" name="slider" id="code">
            <input type="radio" name="slider" id="about">

            <div class="list">
                <label for="home" class="home main-tab-title d-center">
                   <div>
                     Product type
                   </div>
                </label>
                <label for="blog" class="blog main-tab-title d-center">
                    <div>
                        Concerns
                    </div>
                    </label>
                    <label for="help" class="help main-tab-title d-center">
                        <div>
                            Ingredients
                        </div>
                </label>
            </div>

            <div class="text-skincare-content">
                <div class="home text">
                  <!-- skin-Sidebar with Tabs -->
                  <div class="skin-sidebar" id="main-tab-1">
                    <div class="swiper-wrapper position-relative">
                      <div class="swiper-slide skin-tab-item d-center flex-column active" data-tab="dehydration">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Hyaluronic_acid_D.jpg?v=1736922510"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Hyalauronic Acid</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="acne">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Vitamin_C_D.jpg?v=1736922510"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Vitamin C</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin-2">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Salicylic_acid_D.jpg?v=1736922509"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Salicylic Acid</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin2">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Niacinamide_D.jpg?v=1736922509"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Niacinamide</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin3">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Retinol_D.jpg?v=1736922509" alt="Group-Shine Pink"
                          fetchpriority="high">
                        <p class="para">Retinol</p>
                      </div>
                    </div>
                    <div class="skincare-arrow_handler" id="main-arrow-1">
                      <div id="carousel-prev-1{{ section.id }}" >
                        {{ up_arrow }}
                      </div>
                      <div id="carousel-next-1{{ section.id }}" >
                       {{ down_arrow }}
                      </div>
                    </div>
                  </div>
                  <!-- Tab skincare-content -->
                  <div class="tab-skincare-content" id="main-tab-content-1">
                    <!-- Dehydration Tab -->
                    <div class="skin-tab-panel active" id="dehydration">
                      {% for product in section.settings.collection.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                
                    <!-- Acne Tab -->
                    <div class="skin-tab-panel" id="acne">
                      {% for product in section.settings.collection2.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin-2">
                      {% for product in section.settings.collection3.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin2">
                      {% for product in section.settings.collection.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin3">
                      {% for product in section.settings.collection2.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="blog text">
                  <div class="skin-sidebar" id="main-tab-2">
                    <div class="swiper-wrapper position-relative">
                      <div class="swiper-slide skin-tab-item d-center flex-column active" data-tab="dehydration2">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Hyaluronic_acid_D.jpg?v=1736922510"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Hyalauronic Acid</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="acne2">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Vitamin_C_D.jpg?v=1736922510"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Vitamin C</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin2-2">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Salicylic_acid_D.jpg?v=1736922509"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Salicylic Acid</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin22">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Niacinamide_D.jpg?v=1736922509"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Niacinamide</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin32">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Retinol_D.jpg?v=1736922509" alt="Group-Shine Pink"
                          fetchpriority="high">
                        <p class="para">Retinol</p>
                      </div>
                    </div>
                    <div class="skincare-arrow_handler" id="main-arrow-2">
                      <div id="carousel-prev-2{{ section.id }}" >
                        {{ up_arrow }}
                      </div>
                      <div id="carousel-next-2{{ section.id }}" >
                       {{ down_arrow }}
                      </div>
                    </div>
                  </div>
                  <!-- Tab skincare-content -->
                  <div class="tab-skincare-content" id="main-tab-content-2">
                    <!-- Dehydration Tab -->
                    <div class="skin-tab-panel active" id="dehydration2">
                      {% for product in section.settings.collection.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                
                    <!-- Acne Tab -->
                    <div class="skin-tab-panel" id="acne2">
                      {% for product in section.settings.collection2.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin2-2">
                      {% for product in section.settings.collection3.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin22">
                      {% for product in section.settings.collection.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin32">
                      {% for product in section.settings.collection2.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="help text">
                  <!-- skin-Sidebar with Tabs -->
                  <div class="skin-sidebar" id="main-tab-3">
                    <div class="swiper-wrapper position-relative">
                      <div class="swiper-slide skin-tab-item d-center flex-column active" data-tab="dehydration-3">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Hyaluronic_acid_D.jpg?v=1736922510"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Hyalauronic Acid</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="acne-3">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Vitamin_C_D.jpg?v=1736922510"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Vitamin C</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin-2-3">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Salicylic_acid_D.jpg?v=1736922509"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Salicylic Acid</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin2-3">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Niacinamide_D.jpg?v=1736922509"
                          alt="Group-Shine Pink" fetchpriority="high">
                        <p class="para">Niacinamide</p>
                      </div>
                      <div class="swiper-slide skin-tab-item d-center flex-column" data-tab="oily-skin3-3">
                        <img width="130" height="130"
                          src="https://cdn.shopify.com/s/files/1/0896/2320/0023/files/Retinol_D.jpg?v=1736922509" alt="Group-Shine Pink"
                          fetchpriority="high">
                        <p class="para">Retinol</p>
                      </div>
                    </div>
                    <div class="skincare-arrow_handler" id="main-arrow-3">
                      <div id="carousel-prev-3{{ section.id }}" >
                        {{ up_arrow }}
                      </div>
                      <div id="carousel-next-3{{ section.id }}" >
                       {{ down_arrow }}
                      </div>
                    </div>
                  </div>
                  <!-- Tab skincare-content -->
                  <div class="tab-skincare-content" id="main-tab-content-3">
                    <!-- Dehydration Tab -->
                    <div class="skin-tab-panel active" id="dehydration-3">
                      {% for product in section.settings.collection.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                
                    <!-- Acne Tab -->
                    <div class="skin-tab-panel" id="acne-3">
                      {% for product in section.settings.collection2.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin-2-3">
                      {% for product in section.settings.collection3.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin2-3">
                      {% for product in section.settings.collection.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                    <!-- Oily Skin Tab -->
                    <div class="skin-tab-panel" id="oily-skin3-3">
                      {% for product in section.settings.collection2.products limit: 6 %}
                      <div class="product-tab-card">
                        {% render 'new-pocket', product: product, fetch_priority: 'high', indexIs: forloop.index0 %}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        
.skincare-content input{
  display: none;
}

.skincare-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
}
.skin-sidebar , .skincare-content .list{
  height: 560px;
  overflow: hidden;
}

.skincare-content .list{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 15%;
  gap: 20px;
}

.skincare-content .list label{
  cursor: pointer;
  font-size: 22px;
  transition: all 0.5s ease;
  z-index: 1;
  flex: 1;
  aspect-ratio: 1;
}

#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help,
#code:checked ~ .list label.code,
#about:checked ~ .list label.about{
  color: #22272C;
  border: 3px solid #D3D0C4;
  background: #E3DFD0;
  box-shadow: 0px 4px 10px 0px #D8D5CA;
}

.skincare-content .text-skincare-content{
  width: 85%;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.skincare-content .text{
  display: none;
}
.w-10{
    width: 10%;
}
.skincare-content .text .title{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}

#skincare-container .text .para{
  margin-top: 6px;
  text-align: center;
}
.skincare_banner_header {
    color: #000;
    font-family: var(--header-family);
    font-size: 7rem;
    text-transform: uppercase;
}
.skincare_banner_content {
    color: #000;
    font-family: var(--family-light);
    font-size: 2rem;
}
.skincare-content .text-skincare-content .home{
  display: block;
}

#home:checked ~ .text-skincare-content .home,
#blog:checked ~ .text-skincare-content .blog,
#help:checked ~ .text-skincare-content .help,
#code:checked ~ .text-skincare-content .code,
#about:checked ~ .text-skincare-content .about{
  display: flex;
  overflow-x: hidden;
}

#blog:checked ~ .text-skincare-content .home,
#help:checked ~ .text-skincare-content .home,
#code:checked ~ .text-skincare-content .home,
#about:checked ~ .text-skincare-content .home{
  display: none;
}

.skincare-content .list label:hover{
  color: #BB86FC;
}

.main-tab-title{
    height: 100%;
    flex-direction: column;
    border-radius: 6px;
    background: #F4F2EB;
    box-shadow: 0px 4px 10px 0px #D8D5CA;
    max-width: calc(520px / 3);
    
}
.skin-sidebar {
  position: relative;
  flex: 0 0 10%; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  justify-self: center;
}

.skin-tab-item {
  /* background-color: #ddd; */
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #000;
  text-align: center;
  font-family: var(--family-regular);
}
.skin-tab-item img{
    object-fit: contain;
    border-radius: 15px;
    border: 3px solid #F6F6F6;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), url(<path-to-image>) lightgray -2.47px 1.124px / 139.002% 100% no-repeat;
    box-shadow: 0px 2px 4px 0px rgba(224, 213, 213, 0.25);
}

.skin-tab-item.active {
  /* background-color: black; */
  color: rgb(0, 0, 0);
  font-family: var(--family-bold);
}
.skin-tab-item.active img{
  filter: brightness(50%);
}
.tab-skincare-content {
  flex: 3;
  margin-left: 20px;
  flex: 0 0 90%;
  overflow-x: auto;
  padding-bottom: 16px;
}

.skin-tab-panel {
  display: none;
}

.skin-tab-panel.active {
  display: flex;
  gap: 20px;
}

.tab-skincare-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
  border-radius: 4px;
}

.tab-skincare-content::-webkit-scrollbar
{
	height: 3px;
	background-color: #F5F5F5;
}

.tab-skincare-content::-webkit-scrollbar-thumb
{
	background-color: #353535;
  border-radius: 4px;
}

.product-tab-card {
    flex: 1;
    min-width: 320px;
}
.skincare-arrow_handler{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 560px;
}

    </style>
    <script>
        
  document.addEventListener('DOMContentLoaded', function () {
        // Get all tab items and tab panels
const tabs = document.querySelectorAll('#main-tab-1 .skin-tab-item');
const panels = document.querySelectorAll('#main-tab-content-1 .skin-tab-panel');
const tabs2 = document.querySelectorAll('#main-tab-2 .skin-tab-item');
const panels2 = document.querySelectorAll('#main-tab-content-2 .skin-tab-panel');
const tabs3 = document.querySelectorAll('#main-tab-3 .skin-tab-item');
const panels3 = document.querySelectorAll('#main-tab-content-3 .skin-tab-panel');

// Add click event to each tab
tabs.forEach(tab => {
  tab.addEventListener('click', () => {
    // Remove active class from all tabs
    tabs.forEach(item => item.classList.remove('active'));
    // Add active class to the clicked tab
    tab.classList.add('active');
    // Hide all panels
    panels.forEach(panel => panel.classList.remove('active'));
    // Show the corresponding panel
    const tabContent = document.getElementById(tab.getAttribute('data-tab'));
    tabContent.classList.add('active');
  });
});

// Add click event to each tab
tabs2.forEach(tab => {
  tab.addEventListener('click', () => {
    // Remove active class from all tabs
    tabs2.forEach(item => item.classList.remove('active'));
    // Add active class to the clicked tab
    tab.classList.add('active');
    // Hide all panels
    panels2.forEach(panel => panel.classList.remove('active'));
    // Show the corresponding panel
    const tabContent = document.getElementById(tab.getAttribute('data-tab'));
    tabContent.classList.add('active');
  });
});
// Add click event to each tab
tabs3.forEach(tab => {
  tab.addEventListener('click', () => {
    // Remove active class from all tabs
    tabs3.forEach(item => item.classList.remove('active'));
    // Add active class to the clicked tab
    tab.classList.add('active');
    // Hide all panels
    panels3.forEach(panel => panel.classList.remove('active'));
    // Show the corresponding panel
    const tabContent = document.getElementById(tab.getAttribute('data-tab'));
    tabContent.classList.add('active');
  });
});
let main_tab_1 = new Swiper("#main-tab-1", {
      direction: "vertical",
      slidesPerView:3,
       navigation: {
      prevEl: '#carousel-prev-1{{ section.id }}',
      nextEl: '#carousel-next-1{{ section.id }}',
      disabledClass: 'disabled_swiper_button'
    },
    });
let main_tab_2 = new Swiper("#main-tab-2", {
      direction: "vertical",
      slidesPerView:3,
       navigation: {
      prevEl: '#carousel-prev-2{{ section.id }}',
      nextEl: '#carousel-next-2{{ section.id }}',
      disabledClass: 'disabled_swiper_button'
    },
    });
let main_tab_3 = new Swiper("#main-tab-3", {
      direction: "vertical",
      slidesPerView:3,
       navigation: {
      prevEl: '#carousel-prev-3{{ section.id }}',
      nextEl: '#carousel-next-3{{ section.id }}',
      disabledClass: 'disabled_swiper_button'
    },
    });
});

    </script>
{% schema %}
    {
      "name": "Skincare Tabs and Pills",
      "class": "pdp_quick_view",
      "settings": [
        {
          "type": "video",
          "id": "banner-video-desktop",
          "label": "Banner Video Desktop"
        },
        {
          "type": "video",
          "id": "banner-video-mobile",
          "label": "Banner Video Mobile"
        },
        {
      "type": "collection",
      "id": "collection",
      "label": "Choose Collection 1"
    }, 
    {
      "type": "collection",
      "id": "collection2",
      "label": "Choose Collection 2"
    }, 
    {
      "type": "collection",
      "id": "collection3",
      "label": "Choose Collection 3"
    }
      ],
      "presets": [
        {
          "name": "Skincare Tabs and Pills"
        }
      ]
    }
    {% endschema %}