<!-- section/why-like-section.liquid -->

{%- style -%}
   .section-{{ section.id }}-padding {
     padding-top: {{ section.settings.padding_top_mobile }}px;
     padding-bottom: {{ section.settings.padding_bottom_mobile  }}px;
   }
  .why-love-it-section{
     border-radius: 30px;
      background-image: url('{{section.settings.bgimage_mobile.src | img_url: "master" }}');
     background-repeat: no-repeat;
     background-size: cover;
   }
   @media screen and (min-width: 750px) {

      .why-love-it-section{  background-image: url('{{section.settings.bgimage.src | img_url: "master" }}');border-radius: 30px; }
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top_desktop }}px;
       padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
     }
   }
{%- endstyle -%}
{{ 'why-like-section.css' | asset_url | stylesheet_tag }}
{% capture my_svg_icon %}
<svg xmlns="http://www.w3.org/2000/svg" width="60" height="61" viewBox="0 0 80 81" fill="none">
<path d="M30.0073 57.3512C24.2262 46.9608 24.737 26.3575 23.4558 21.4462C22.3858 17.3444 22.4419 10.7177 23.8974 7.75584C21.4224 8.38777 19.2789 15.2433 19.758 18.0609C20.2372 20.8785 18.3778 26.993 16.8414 32.3834C15.3049 37.7737 15.3935 31.7375 18.7475 51.4606C21.4306 67.239 36.0278 73.6906 42.9911 74.9441C42.5759 74.4548 42.247 73.8124 42.1268 72.9899L41.3351 72.8193C39.1635 71.8507 35.7885 67.7415 30.0073 57.3512Z" fill="white" stroke="black" stroke-width="1.2"/>
<path d="M52.7232 75.9608C50.9692 76.2107 48.1693 76.3508 47.1881 76.0956C45.4434 75.6419 43.305 74.9821 43.0784 74.2625L41.0878 73.3746C38.9162 72.4059 35.5411 68.2967 29.76 57.9064C23.9789 47.5161 24.4896 26.9127 23.2084 22.0014C22.1384 17.8996 22.1946 11.273 23.65 8.31106C23.9372 7.72659 24.2789 7.28482 24.6772 7.03331C26.6105 5.81244 29.8853 4.43801 31.2811 3.90339C33.1595 3.58397 37.2371 3.7826 38.5203 7.13247C40.1243 11.3196 42.697 13.335 47.842 17.3657L47.8429 17.3664C51.9594 20.5913 55.7455 30.1496 57.124 34.5256C57.9569 37.501 62.8037 50.1474 60.6473 52.0585C61.9121 55.36 60.629 61.9189 60.2267 62.8206C59.8193 63.7338 59.8909 65.216 58.7451 69.8245C58.1865 72.0709 53.7598 75.8131 52.7232 75.9608Z" fill="white" stroke="black" stroke-width="1.2"/>
<path d="M49.3137 40.5893C50.1858 43.5823 53.2573 50.9521 51.9089 56.9205C50.2233 64.3809 44.1822 64.4237 40.0309 55.5438C39.031 55.0979 33.5674 39.6414 33.656 33.6052C33.7445 27.569 33.5102 22.2567 34.4789 20.0849C35.4476 17.9131 36.2496 20.0069 41.4734 25.8087C45.6524 30.4501 48.4415 37.5964 49.3137 40.5893Z" fill="#6E84BD" stroke="black" stroke-width="1.2"/>
</svg>
{% endcapture %}
{% capture my_svg_icon_second %}
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="54" viewBox="0 0 60 64" fill="none">
<g id="Group 9403">
<path id="Vector 347" d="M32.0034 51.3526C41.5157 44.2185 49.4423 25.1941 52.613 21.2307C55.2612 17.9205 57.9093 11.8458 57.7867 8.54785C59.7896 10.1332 58.9544 17.2673 57.3691 19.6454C55.7837 22.0234 54.991 28.365 54.1984 33.9137C53.4057 39.4625 55.7837 33.9137 44.6862 50.5598C35.8082 63.8767 19.8489 63.8224 12.9791 62.1306C13.5575 61.8528 14.1196 61.4001 14.5644 60.698L15.3569 60.8646C17.7347 60.8646 22.491 58.4867 32.0034 51.3526Z" fill="white" stroke="black" stroke-width="1.2"/>
<path id="Vector 344" d="M3.67692 59.0945C5.17699 60.0373 7.67698 61.3058 8.67698 61.4724C10.4552 61.7688 12.677 62.0374 13.177 61.4724H15.3567C17.7345 61.4724 22.4908 59.0945 32.0031 51.9604C41.5155 44.8263 49.4421 25.8019 52.6128 21.8385C55.261 18.5283 57.9091 12.4535 57.7865 9.15564C57.7623 8.50487 57.6302 7.96222 57.3689 7.57028C56.1006 5.66775 53.6697 3.07848 52.6128 2.02167C51.0275 0.964761 47.2226 -0.514906 44.686 2.02167C41.5155 5.19219 38.3449 5.98483 32.0043 7.57L32.0031 7.57028C26.93 8.83857 19.5785 16.0255 16.537 19.4605C14.5643 21.8385 4.98619 31.4136 6.17701 34.0374C3.67701 36.5374 2.17694 43.05 2.17703 44.0374C2.17712 45.0374 1.50788 46.3618 0.677036 51.0374C0.272032 53.3165 2.79038 58.5374 3.67692 59.0945Z" fill="white" stroke="black" stroke-width="1.2"/>
<path id="Vector 346" d="M21.1997 28.1799C19.184 30.5579 13.3768 36.0374 12.1769 42.0374C10.6771 49.5374 16.1769 52.0374 23.5855 45.6188C24.6803 45.6188 35.9664 33.7286 38.3445 28.1799C40.7225 22.6311 43.1005 17.875 43.1005 15.497C43.1005 13.119 41.5152 14.7045 34.3811 17.875C28.6738 20.4115 23.2155 25.8018 21.1997 28.1799Z" fill="#6E84BD" stroke="black" stroke-width="1.2"/>
</g>
</svg>
{% endcapture %}
<section class="why-love-it-main" id="love_it">
  <div class="why-love-it-section section-{{ section.id }}-padding">
    <div class="why-love-it-wrapper">
      <div class="text-content">
        {% if section.settings.heading != blank %}
          <h2>{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <p>{{ section.settings.description }}</p>
        {% endif %}
      </div>

      <div class="image-box">
        {% if section.settings.bg_image != blank %}
          <div class="image_with_svg">
            {{ my_svg_icon }}
            <div class="bg-image">
              <img
                src="{{ section.settings.bg_image | image_url: width: 800 }}"
                alt="Background"
                loading="lazy"
                width="100%"
                height="auto"
              >
            </div>
            {{ my_svg_icon_second }}
          </div>
        {% endif %}
        {% if section.settings.info_image != blank %}
          <div class="info-box">
            <img
              class="desktop_screen"
              src="{{ section.settings.info_image | image_url: width: 400 }}"
              alt="Info Box"
              loading="lazy"
              width="100%"
              height="auto"
            >
            <img
              class="mobile_screen"
              src="{{ section.settings.mobile_image | image_url: width: 400  }}"
              alt="{{ section.settings.mobile_image | escape }}"
              loading="lazy"
              width="100%"
              height="auto"
            >

            {{ my_svg_icon }}
            <a href="{{ section.settings.button_link }}" class="notify-btn">{{ section.settings.button_text }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Why You’ll Love It",
  "settings": [
    {
      "type": "image_picker",
      "id": "bgimage",
      "label": "Background image wrapper"
    },
    {
      "type": "image_picker",
      "id": "bgimage_mobile",
      "label": "Background image wrapper mobile"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "why you’ll love it?"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "it's not just a balm. It’s a global beauty cult-fave..."
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
  "type": "image_picker",
  "id": "info_image",
  "label": "Info Box Image"
},
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Floating Product Image"
    },

    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Get Notified"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    },
    {
    "type": "range",
    "id": "padding_top_desktop",
    "min": 10,
    "max": 200,
    "step": 2,
    "unit": "px",
    "label": "Padding Top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom_desktop",
    "min": 10,
    "max": 200,
    "step": 2,
    "unit": "px",
    "label": "Padding Bottom",
    "default": 36
  },
    {
    "type": "range",
    "id": "padding_top_mobile",
    "min": 20,
    "max": 150,
    "step": 2,
    "unit": "px",
    "label": "Padding Top (Mobile)",
    "default": 20
  },
  {
    "type": "range",
    "id": "padding_bottom_mobile",
    "min": 5,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "Padding Bottom (Mobile)",
    "default": 20
  },
  ],
  "presets": [
    {
      "name": "Why You’ll Love It"
    }
  ]
}
{% endschema %}
